.foter {
    background-color: rgb(4, 0, 56);
}

.img1 {
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.text1 {
    margin: 8px;
}

header {
    background-color: azure;
}